.root {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 8px 36px 8px 36px; // пространство слева и справа
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #888;
}

.clearIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #888;
  transition: fill 0.2s ease;

  &:hover {
    fill: #000;
  }
}
